@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a class="btn btn-primary" asp-action="General" asp-controller = "Expense" role="button">General</a>
<a class="btn btn-primary" role="button">Entertainment</a>